---
layout: home
---

<header>
  <div class="circle">
    <a href="/" class="hycircle">
      <div class="content">
        <h1>Dan Rowe</h1>
        Photography &amp; Web Solutions
      </div>
    </div>
   </a>
  <div class="about">
    <p>Hello! My name's Dan (obviously)&hellip; I'm aged 20 and I reside in a
      beautiful part of the world known as Cornwall.</p>

    <p>What do I do? Good question&hellip; I'm a farmer, photographer and
    I make things on the web.</p>

    <p>In my spare time I'm vice chairman of Helston &amp; St. Keverne YFC, and
    love exploring the Cornish countryside.</p>

    <p>You can find out a little more <a href="/about">about me</a>,
      or <a href="mailto:hello@danrowe.me">get in touch</a>
      - I'd love to hear from you!</p>
  </div>
  <div class="logos">
    <div class="logo">
      <a href="https://agriworks.net"><img src="https://cdn1.agriworks.net/AW/agriworks-logo-transparent.svg"></a>
    </div>
    <div class="logo">
      <a href="https://danrowephotography.uk"><img src="https://cdn77.jbm1.uk/Team/DRPhotog/logo_whiteBG.svg"></a>
    </div>
    <div class="logo">
      <a href="https://justbeautiful.co.uk"><img src="https://cdn9.jbm1.uk/Team/DRPhotog/jb-sq.png"></a>
    </div>
  </div>
</header>
