---
layout: page
title: Privacy &amp; Cookie Policy
permalink: /privacy/
---

<h1>Privacy Policy</h1>
<p>Any personal information you provide to us including and similar to your name, address, telephone number
and e-mail address will not be released, sold, or rented to any entities or individuals.  This information
will only be used to get in touch with you if you've filled in a form such as to contact me.</p>
<br>
<h2>Changes To This Privacy Policy</h2>
<p>I have the discretion to update this privacy policy at any time.</p>
<p>If or when I do, I will revise the updated date at the bottom of this page.</p>
<p>I encourage users to frequently check this page for any changes to stay informed about how changes to the protection of
personal information I collect.</p>
<p>You acknowledge and agree that it is your responsibility to review this privacy policy
periodically and become aware of modifications.</p>
<br>
<h2 id="questions">Questions and Contact Information</h2>
<p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint,
or simply want more information contact me by emailing <a href="mailto:hello@danrowe.me">hello@danrowe.me</a>, or
<a href="/contact">get in touch</a></p>
<br><br>
<h1 id="cookies">Cookie Policy</h1>

<p>Cookies are small pieces of information (in the form of text files) which are sent from our website to your computer
  or mobile phone and which are stored on your device’s hard drive. They help you use the site more effectively,
  and help us assess how our site is used.</p>

<p>Most internet browsers (such as Internet Explorer, Mozilla Firefox or Google Chrome) give users options about
  cookies through their browser settings. Unless you have adjusted your browser setting so that it will refuse cookies,
   our system will issue cookies when you log on to and use our site.</p>

<p>You can find out more about cookies and how to remove them from your browser at <a href="www.aboutcookies.org" target="_blank">www.aboutcookies.org</a></p>

<p>Please note that if you remove some of our cookies, you may not be able to use our site as effectively.</p>

<p>During your visits to our site you may notice some cookies that are not related to Dan Rowe.
You should check the third party websites for more information about these.</p>

<p>Here are a list of the main cookies that we use on this site, and what they do.
  By using this site, you agree that we can place these cookies on your device:</p>

<h2 id="our-cookies">Our Cookies</h2>

<p><b>cookieconsent_dismissed</b></p>

<p>This is only ever yes and is used to remember whether the you have closed the cookie banner notice already so it doesn’t pop up again.</p>

<h2 id="third-party-cookies">Third Party Cookies</h2>

<p><b>utma, utmb, utmc, _utmv, _utmx, utmz</b>

<p>We use a service called Google Analytics which collects information about how visitors use our site.
We use the information to compile reports and to help us improve the site. The cookies collect information in an anonymous form,
including the number of visitors to the site, where visitors have come to the site from, and the pages they visited.</p>

<p>For more information about these cookies, please visit: <a href="http://code.google.com/apis/analytics/docs/concepts/gaConceptsCookies.html" target="_blank">http://code.google.com/apis/analytics/docs/concepts/gaConceptsCookies.html</a></p>
<br>
<p>Policy Last Updated: 09-Oct-2016</p>
