<footer>
  <div class="social">
    <!-- Behance -->
     <a href="https://be.net/daniel-rowe" target="_blank">
       <img src="/images/behance.svg">
    </a>
    <!-- Facebook -->
    <a href="https://fb.me/drowe96" target="_blank">
      <img src="/images/facebook.svg">
    </a>
    <!--Twitter-->
    <a href="https://twitter.com/daniel_rowe" target="_blank">
      <img src="/images/twitter.svg">
    </a>
    <!-- Snapchat -->
    <a href="https://www.snapchat.com/add/daniel-rowe" target="_blank">
      <img src="/images/snapchat.svg">
    </a>
    <!--500px-->
    <a href="https://500px.com/the_daniel_rowe" target="_blank">
      <img src="/images/500px.svg">
    </a>
    <!--Email-->
    <a href="mailto:hello@danrowe.me" target="_blank">
      <img src="/images/email.svg">
    </a>
  </div>
  <div class="copy">
    &copy; <script>var y= new Date().getFullYear(); document.write(y);</script><noscript>2016</noscript> &minus; Daniel Rowe
  </div>
  <div class="links">
    <a href="/">Home</a>
    <a href="/privacy">Privacy &amp; Cookies</a>
    <a href="/contact">Contact Me</a>
    <a href="#">Top</a>
  </div>
</footer>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic' rel='stylesheet' type='text/css'>
<script>
(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-39528561-1');ga('send','pageview');
</script>
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"https://danrowe.me/privacy/","theme":"light-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
