<nav>
  <div id="menu">

      <div id="bap" >
        <input type="checkbox" id="hamburger" />
        <span id="cheese"></span>
        <span id="lettuce"></span>
        <div id="menu-items">
            <a class="menu-item" href="/"><span>Home</span></a>
            <a class="menu-item" href="/about"><span>About</span></a>
            <a class="menu-item" href="/blog"><span>Blog</span></a>
          <a class="menu-item" href="/contact"><span>Contact</span></a>
        </div>
      </div>
    </div>
</nav>
