body {
  color: #333333;
  font-family: "Source Sans Pro", sans-serif;;
}
@font-face {
  font-family: "Walkway Semibold";
  font-weight: normal;
  font-style: normal;
  src: url(https://cdn86.jbm1.uk/Team/DRMe/f/walkway_semibold-webfont.woff2) format('woff2'),
       url(https://cdn82.jbm1.uk/Team/DRMe/f/walkway_semibold-webfont.woff) format('woff');
}
#navBar {
  nav {
    margin-top: -3em;
  }
}
#myName {
  text-align: center;
  font-family: "Walkway Semibold";
  color: #3b97df;
  font-size: 2em;
  margin: 0.7em auto 0;
}
.page-content {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 82vh;
  max-width: 750px;
  line-height: 1.4em;
  margin: auto;
}
.wrapper {
  margin-bottom: 2em;
}
h1,
h2 {
  font-weight: normal;
}
a,
a:visited,
a:focus {
  color: #3b97df;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
header .hycircle {
  color: #fff;
  text-decoration: none;
}
header .circle {
  flex: 2;
  font-family: "Walkway Semibold";
  font-size: 1.1em;
  padding: 0.5em;
  box-sizing: border-box;
  border-radius: 50%;
  background: #3b97df;
  color: #FFF;
  width: 15vw;
  min-width: 270px;
  max-width: 450px;
  height: 15vw;
  min-height: 270px;
  max-height: 450px;
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .circle .content {
  text-align: center;
}
header .circle h1 {
  text-align: center;
  font-size: 2.2em;
  padding: 0;
  margin: 0.2em;
}
header .about a {
  color: #3b97df;
  text-decoration: none;
}
header .about a:hover {
  text-decoration: underline;
}
header .about {
  font-weight: 300;
  font-size: 1rem;
  max-width: 520px;
  padding: 0.5em;
  margin-top: 1em;
  text-align: center;
}
header .logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
header .logos .logo {
  max-width: 180px;
  min-width: 100px;
  margin: 1em;
  flex: 1 1 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logos .logo a img {
  width: 80%;
  max-width: 150px;
  -webkit-filter: grayscale(100%);
  transition: all 0.5s;
}
header .logos .logo a img:hover {
  -webkit-filter: grayscale(0%);
}
@media only screen and (min-width: 480px) {
  #navBar {
    nav {
      margin-top: -4.5em;
    }
  }
  #myName {
    font-size: 3em;
  }
  header .circle {
    font-size: 1.5em;
    min-height: 400px;
    min-width: 400px;
  }
  header .circle h1 {
    font-size: 3em;
  }
  header .about {
    font-size: 1.2rem;
  }
  header .logos {
    margin-top: 1.3em;
  }
}
footer {
  text-align: center;
}
.social {
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  margin-bottom: 1.2em;
  a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    img {
      max-width: 25px;
      //-webkit-filter: grayscale(100%);
      transition: all 100ms;
      max-height: 25px;
    }
    img:hover {
      transform: translateY(-10px);
    }
  }
}
footer .copy {
  font-size: 0.95em;
  margin-bottom: 0.6em;
}
footer .links {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: auto;
}
footer .links a {
  font-size: 0.95em;
  color: #333;
}
footer .links a:hover {
  color: #3b97df;
}
#menu {
  //Menu Container
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  #menu-items {
    position: absolute;
    right: 0;
    top: 3em;
    width: 8em;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: right;
    transition: all 300ms ease-in-out;
    background: white;
    .menu-item {
      display: flex;
      text-decoration: none;
      position: relative;
      color: #333;
      justify-content: flex-end;
      margin-right: 1.2em;
      padding: 0.4em;
      transition: all 150ms ease-in-out;
    }
    .menu-item:hover {
      //Main Menu item hover event
      cursor: pointer;
      color: #3b97df;
    }
  }
}
#bap {
  position: relative;
  width: 1.7em;
  padding: 1.7em;
  margin-bottom: 2em;
  transition: all 150ms ease-in-out;
  #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
  }
  #hamburger:checked ~ #menu-items {
    max-height: 90em;
  }
  #hamburger:checked + #cheese {
    background: none;
  }
  #hamburger:checked + #cheese::before {
    top: 0;
    transform: rotate(45deg);
  }
  #hamburger:checked + #cheese::after {
    transform: rotate(-45deg);
    bottom: 0;
  }
  #cheese {
    z-index: 1;
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    background: #333;
  }
  #cheese::before,
  #cheese::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #333;
    content: "";
    transition: all 300ms ease-in-out;
  }
  #cheese::before {
    top: -0.54em;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
  }
  #cheese::after {
    bottom: -0.60em;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
  }
  #lettuce {
    z-index: 0;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 100ms ease-in-out;
  }
}
