<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="navBar">
      <div id="myName">
        Dan Rowe
      </div>
      {% include header.html %}
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
